

:root{
    --main-color:rgb(117, 241, 225);
}

.parent{
    width: 100%;
    height: 2000px;
    background: rgb(2 2 2 / 72%);
    box-shadow: inset -3px 9px 14px 12px #c79f9fc7;
    background-size: cover;
}
.upon{
    width:100%;
    height:800px;
   
    display:flex;
    flex-wrap:wrap ;

}
.phones{
    width: 25%;
    height: 468px;
    margin: 1px 35px 50px;
    border: 2px solid #414da185;
    background:url("../img/2.jpg");
    position: relative;
    top: 62px;
    right: -15px;
    color:white;
    padding: 12px;
    box-shadow: 13px 7px 20px 6px #ffffff80;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.phones:hover{
    box-shadow: 13px 7px 20px 6px #0dafa780;
}


.phones .first img{
    width:90%;
    height:215px;
    margin:9px auto;
}
.para{
    margin-top: -19px;
    font-size: 18px;
    font-weight: bold;
   
    text-align: center;
    line-height: 15px;
}
.para button{
    width: 75%;
    height: 42px;
    background: #20212c87;
    margin: 1px auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 28px;
    border-top: #1cc0d1d1 3px solid;
    border-bottom:  #1cc0d1d1 3px solid;
    box-shadow: 0px 2px 14px 8px #cee5e2;
    transition: all 1s 500ms ;

}
.para button:hover{

    border-top: #940707d1 3px solid;;
    border-bottom:  #940707d1 3px solid;
    background: #70728387;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor:pointer;
}



    
